<%- include('../partials/header') %>

  <h1 id="main-title">Mongoose Flights</h1>
  <h2 class="medium-statement">Welcome to Mongoose Flights</h2>
  <a class="link-button"href="/flights">View all of our flights here!</a>

<%- include('../partials/footer') %>
