@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

:root {
  --main-color: rgb(179, 166, 253);
  --main-dark-color: rgb(96, 86, 231);
  --font-color:  #1d1e1f;
  --input-color: rgb(245, 240, 217);
}

* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: var(--font-color);
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#eef5f3, var(--main-dark-color));
  padding: 20px;
  overflow-y: scroll;
}

#content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#left-flight-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

#right-flight-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border: 3px solid var(--main-dark-color);
  border-radius: 20px;
}
nav > a:hover, nav > a.active {
  background: var(--main-dark-color);
  color: white;
}

th, .tbLabel {
  background: linear-gradient(var(--main-color), var(--main-dark-color));
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black;
  color: white;
}

td {
  background: rgb(230, 230, 230);
}

th, td{
  border: 1px solid var(--font-color);
  padding: 0.5rem;
  text-align: center;
}

td p {
  margin: 0;
}

table {
  border-collapse: collapse;
  margin: 1rem;
}

#home {
  margin: 0 auto 0 0;
}

.passed, i:hover {
  color: red;
}

.iconButton {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

#left-flight-container a {
  background: var(--input-color);
  margin: 1rem 1rem 0 1rem;
  text-align: center;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  border: 1px solid var(--font-color);
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(44, 44, 44, 0.5);
}

.add-form {
  margin: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  background: var(--input-color);
  border: 1px solid var(--font-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(44, 44, 44, 0.5);
}

.add-form input[type="submit"] {
  width: 8rem;
  grid-column: 2 / 3;
}

#main-title {
  font-size: 80px;
  font-weight: 600;
}

.medium-statement {
  font-size: 30px;
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black;
  color: white;
}

.link-button {
  font-size: 30px;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--font-color);
  border: 1px solid var(--font-color);
  border-radius: 20px;
  background: var(--input-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.762);
}